

body {
    font-family: 'Oswald',sans-serif;
}

.container {
    width: 800px;
    margin: auto;
}

.address-block {
    float: right;
}

hr {
    clear: both;
}

h1 {
    margin-top: auto;
}
.sub-content {
    float: right;
    width: 75%;
}

.position-title {
    float: left;
    width: 25%;
}

.position-title p {
    font-style: italic;
}



.section-title {
    display: block;
    float: left;
}



#firstSection {
    margin-top: 60px;
}

.section-title h2 {
    font-size: 
}

.company-title {
    font-weight: 10000;
}
