

body {
    font-family: 'Lato',sans-serif;
}

.container {
    width: 900px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 50px 50px 0 50px;
}

#firstSection {
    height: 150p
}

.address-block {
    float: right;
    text-align: right;
}

hr {
    clear: both;
    border-color: #777;
    border-width:thin;
}

h1 {
    margin-top: auto;
}

.sub-content {
    float: right;
    width: 70%;
}

.row {
    width: 100%;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: right;
}

.section-item {
    float: left;
    width: 30%;
}

.institution-title h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: -10px;
}

.section-item h3 {
    font-size: 120%;
    font-weight:700;
}

.section-item p {
    font-style: italic;
    font-size: 85%;
}



.section-title {
    display: block;
    float: left;
    margin-top: 25px;
    margin-bottom: -15px;
}

.section-title h2 {
    font-weight: 900;
    font-size: 2em;
}
#profile {
    font-style: italic;
}

.social {
    border-color: #bbb;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:0.2s;
    font-size: 200%;
    width: 45px;
    height: 40px;
    padding-top: 8px;
    border-radius: 20%;
    z-index: 0;
    margin: 2px;
}

.footer a {
    text-decoration: none;
}

@media (min-width: 900px) {
  .social:hover {
    transform: scale(1.25);
    z-index: 1;
  }
}

.social:hover {
  border-color: black;
  z-index: 1;
}

#fcc-icon {
  color: darkgreen;
}

#fcc-icon:hover {
  color: white;
  background-color: darkgreen;
}

#github-icon {
  color: black;
}

#github-icon:hover {
  color: white;
  background-color: black;
}

#linkedin-icon {
  color: #0077B5;
}

#linkedin-icon:hover {
  color: white;
  background-color: #0077B5;
}

.footer {
    height: 70px;
    padding: 10px;
    text-align: center;
}
